<button routerLink="/">Go back to the Pokedex</button>

<header class="{{colorClass}}">
  <img src="{{frontSprite}}"/>
  <div>
      <h1>{{name}}</h1>
      <ul>
        <li>Weight : {{weight}} kg</li>
        <li>Height : {{height}} m</li>
      </ul>
  </div>
</header>

<h2>Type</h2>
<ul>
  <li *ngFor="let type of types">
    {{type}}
  </li>
</ul>

<h2>Abilities</h2>
<ul>
  <li *ngFor="let ability of abilities">
    {{ability}}
  </li>
</ul>

<h2>Moves</h2>
<ul>
    <li *ngFor="let move of moves">
      {{move}}
    </li>
  </ul>