*
{
    font-family: 'Roboto', sans-serif;
}


header
{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    margin: 0;
    color: #fff;
    background: #E92D36;
}
header::before
{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 49.65%;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid rgb(223, 55, 63);
}
header h1
{
    width: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    font-size: 19px;
}
header button
{
    outline: none;
    border: none;
    padding: 0 15px;
    background: transparent;
}
header button img{
    height: 20px;
}
button:active img
{
    transform: scale(.9);
}


header ul
{
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    list-style-type: none;
}
header ul li
{
    margin-left: 5px;
}

h2
{
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    width: auto;
    margin-left: 30px;
    padding: 7px 10px;
    background: #E92D36;
    letter-spacing: 2px;
}
h2::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    width: 30px;
    height: 2px;
    background: inherit;
}


/* Card which contains the image and some numbers */
.detailCard
{
    display: flex;
    flex-flow: row nowrap;
    width: 450px;
    margin: 40px auto;
    padding: 0;
    list-style-type: none;
}
.detailCard ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.detailSprite
{
    display: flex;
    width: 150px;
    flex-flow: column wrap;
}
.detailSprite li
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.detailSprite li:last-child
{
    height: 30px;
}
.detailSprite li img
{
    height: 110px;
}


.detailMeasurements
{
    position: relative;
    display: flex;
    flex-grow: 1;

    background: pink;
    flex-flow: row wrap;
}
.detailMeasurements li
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    width: auto;
    height: 100%;
    font-size: 12px;
    color: #666666;
    border-right: 1px solid #D9D9D9;
    text-transform: uppercase;
    font-weight: 300;
}

.detailMeasurements li:last-child
{
    border-right: none;
}
.detailMeasurements li strong
{
    font-weight: 700;
    font-size: 18px;
}
