

<header>
    <button routerLink="/">
      <img src="/assets/img/back.png"/>
    </button>
    <h1>{{name}}</h1>
    <button></button>
</header>

<ol class="detailCard">
	<ul class="detailSprite">
		<li>
			<img src="{{frontSprite}}"/>
		</li>
		<li>
			<p>{{pokedexNumber}}</p>
		</li>
	</ul>
	<ul class="detailMeasurements">
		<li>
			<strong>Bla</strong>
			Species
		</li>
		<li>
			<strong>{{height}} m</strong>
			Height
		</li>
		<li>
			<strong>{{weight}} kg</strong>
			Weight
		</li>
	</ul>
</ol>

<h2>Type</h2>
<ul>
  <li *ngFor="let type of types">
    {{type}}
  </li>
</ul>

<h2>Abilities</h2>
<ul>
  <li *ngFor="let ability of abilities">
    {{ability}}
  </li>
</ul>

<h2>Moves</h2>
<ul>
    <li *ngFor="let move of moves">
      {{move}}
    </li>
  </ul>