*
{
    font-family: 'Roboto', sans-serif;
}

button
{
    padding: 5px;
}
button img
{
    height: 15px;
}

header
{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    margin: 0;
    color: #fff;
    background: #E92D36;
}
header::before
{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 49.65%;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid rgb(223, 55, 63);
}
header h1
{
    width: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    font-size: 19px;
}
header button
{
    outline: none;
    border: none;
    padding: 0 15px;
    background: transparent;
}

header button img{
    height: 20px;
}

header ul
{
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    list-style-type: none;
}
header ul li
{
    margin-left: 5px;
}

h2
{
    display: inline;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    width: auto;
    margin-left: 20px;
    padding: 7px 10px;
    background: #E92D36;
    letter-spacing: 2px;
}